<!DOCTYPE html>
<html lang="ru">
<head>
	<meta http-equiv="content-type" content="text/html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<title>{{ title }}</title>
	<link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico">

	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
	<div class="header">
		<div class="site-info">
			<a href="#" class="site-name"><h1>question?</h1></a>
		</div>
		<div class="site-menu">
			<a href="#">Мои опросы</a>
			<a href="#">Создать опрос</a>
			<a href="#">Поддержать проект</a>
		</div>
		<div class="user-controls">
			<span class="username">
				username
			</span>
			<a href="#" class="exit">
				<img src="../static/images/icons/exit.png" class="exit-icon">
			</a>
		<!--
			<a href="#" class="log-btn">Войти</a>
			<a href="#" class="reg-btn">Зарегистрироваться</a>
		-->
		</div>
	</div>
	<div class="index-content">
		<div class="survey-search-form">
			<input type="text" placeholder="Поиск..." class="survey-name-search">
		</div>
		<div class="survey-preview-list">
			<div class="survey-preview">
				<span class="survey-preview-name">Гапон красавчик?</span>
				<span class="survey-preview-category">Люди</span>
				<a href="#" class="survey-preview-link">Октрыть</a>
			</div>
			<div class="survey-preview">
				<span class="survey-preview-name">Гапон красавчик?</span>
				<span class="survey-preview-category">Люди</span>
				<a href="#" class="survey-preview-link">Октрыть</a>
			</div>
			<div class="survey-preview">
				<span class="survey-preview-name">Гапон красавчик?</span>
				<span class="survey-preview-category">Люди</span>
				<a href="#" class="survey-preview-link">Октрыть</a>
			</div>
		</div>
	</div>
</body>
</html>